/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*                                          Contenido General                                                                              */
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#header {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #9e0505;


}

#titulo {
    text-transform: uppercase;
    color: white;
}

#content {
    height: 29pc;


}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*                                             Etiquetas                                                                                   */
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

h4 {
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*                                      Seccion del Contenido Derecho "Video"                                                              */
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#section {
    height: 100%;
    width: 54%;
    float: left;

}

#sec_vid {
    margin-left: 15px;
    margin-top: 15px;
    height: 95%;
    width: 96%;
    border-radius: 2%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*                                           Seccion del Contenido Izquierdo "Panel"                                                       */
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

#aside {
    height: 100%;
    width: 46%;
    float: right;
}


/* ----------- Seccion de Turno   */

#turno {
    float: left;
    height: 96%;
    width: 49%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px;

}

#sb_TTittle {
    border: 2px solid #a7a7a7;
    padding-top: 3px;
    background-color: white;

}

#cont_Tgeneral {
    margin-top: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 2px solid #a7a7a7;;
    
}

/* ----------- Seccion de Ventanilla   */

#ventanilla {
    float: right;
    height: 96%;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px;
    margin-right: 3px;
}

#sb_VTittle {
    border: 2px solid #a7a7a7;
    padding-top: 3px;
}

#cont_Vgeneral {
    margin-top: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 2px solid #a7a7a7;;

}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                              Seccion del Footer                                                         */
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
#footer {
    height: 59px;
    background-color: #9e0505;
    width: 98%;
    margin-left: 15px;
    margin-top: 6px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/