* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-image: url(../V2Repo/static/logo-poder.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h5{
    text-transform: uppercase;
    color: rgb(192, 192, 192);

}

.cont__head {
    background-color: #fff;
    height: 28%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);

}
.cont__bod{
    background-color: #fff;
    overflow-y: scroll;
    height: 62%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.form-select {
    padding-right: 25px;

}


@media (min-width: 308px) and (max-width: 991.98px) {
    .cont__head {
        background-color: #fff;
        height: 39%;
    }

}